<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Todo List</h1>
  <ul>
    <% for(let i=0; i < tasks.length; i++) { %>
      <li><%= tasks[i] %>
        <form action="/delete" method="post" style="display: inline;">
          <input type="hidden" name="taskIndex" value="<%= i %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% } %>
  </ul>
  <form action="/add" method="post">
    <input type="text" name="task" placeholder="New Task" required>
    <button type="submit">Add</button>
  </form>
</body>
</html>
